version: '3.8'

services:
  db:
    image: pgvector/pgvector:pg16
    container_name: face_db
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: face_recognition
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: password123
    volumes:
      - postgres_data:/var/lib/postgresql/data

  minio:
    image: minio/minio
    container_name: face_storage
    ports:
      - "9000:9000"   # API Port
      - "9001:9001"   # Console Port
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadminpassword
    command: server /data --console-address ":9001"
    volumes:
      - minio_data:/data

volumes:
  postgres_data:
  minio_data: